@import '../../../../styles.scss';

.nb-basic {
    background-color: var(--headline-color);
    width: 100%;
    box-shadow: 0px 12px 2px 1px var(--headline-shadow);
}

.nb-grid {
    grid-template-columns: 1fr var(--screen-large) 1fr;
    display: grid;
    height: 100%;

    .left {
        margin: 0; /* Placeholder; TODO: Continue */
    }

    .center {
        /* margin: 15px 0; */
        display: flex;
    }

    .right {
        margin: 0; /* Placeholder; TODO: Continue */
    }
}

.nb-basic.mobile {
    height: 50px;
}

.nb-basic.desktop {
    height: 100px;
}